img.project-github {
    width: 2rem;
    height: 2rem;
}

.project {
    width: 65%;
    background-color: lightblue;
    margin-left: 17.5%;
    margin-top: 20px;
    border: 1px solid black;
    text-align: center;
}
.about-project {
    width: 75%;
    display: inline-table;
}
ul {
    text-align: center;
    list-style-position: inside;
}

h2.project-title {

    padding: 0px;
}

.project-content {
    padding: 10px;
}

.project-imgs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img.project-img {
    padding: 10px;
}

ul.project-challenges {
    display: inline-table;
    padding-left: 0;
}

@media all and (max-width: 815px) {
    img.project-img {
        width: 16rem;
        height: 16rem;
    }
}