@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  height: 5rem;
}

.header {
  height: 6em;
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  background-color: black;
  width: 100%;
  flex-wrap: wrap;
}

.banner {
  flex-grow: 3;
  margin-top: 30px;
}

.links {
  margin-top: 30px;
  flex-grow: 1;
  text-align: right;
}

.header h2 {
  font-size: 1.5rem;
}

.header h2:hover {
  color: limegreen;
}

.link-header {
  color: white;
  text-decoration: none;
}

.home-link {
  color: white;
  text-decoration: none;
}

@media all and (max-width: 609px) {
  .header h2 {
    font-size: 1.5rem;
    width: 30px;
    height: 8rem;
  }

  .header {
    height: 8rem;
  }

  .banner {
    margin-top: 20px;
    text-align: center;
  }

  .links {
    flex-grow: 2;
    margin-top: 20px;
  }

  .link-header {
    font-size: 1.25rem;
  }
}


/* HOME CSS */
.invisible {
  height: 2rem;
  position: absolute;
}


h1, h2 {
  display: inline;
  color: grey;
  padding: 20px;
  font-family: 'Fredoka', sans-serif;
  font-weight: 300;
}

.profile-container {
  margin-top: 20px;
  width: 80%;
  display: flex;
  margin-left: 10%;
}

.profile-background {
  background-image: url("./me.jpg");
  filter: blur(8px);
  -webkit-filter: blur(8px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50%;
  width: 80%;
  z-index: -1;
  position: absolute;
}

.intro {
  flex-grow: 1;
  flex-basis: 0px;
  display: flex;
  flex-direction: column;
  z-index: 2;
  border: 2px solid black;
  height: 20rem;
  justify-content: center;
  text-align: center;
  margin-top: 5%;
  margin-left: 30px;
  color: white;
  padding: 6px;
}

.profile {
  flex-grow: 1;
  flex-basis: 0px;
  display: flex;
  justify-content: center;
}

img {
  width: 20rem;
  height: 20rem;
}

#profile-pic {
  margin-top: 10%;
}

.par {
  margin-top: 5%;
}

.overview-container {
  width: 80%;
  margin-left: 10%;
  margin-top: 150px;
  display: flex;
  flex-wrap: wrap;
}

.overview-section-1 {
  display: flex;
  background-color: lightgrey;
}

.overview-section-2 {
  display: flex;
  margin-top: 30px;
  background-color: lightgrey;
}

.overview-par {
  /* display: flex; */
  padding: 40px;
  border: 2px solid black;
}

.overview-img {
  display: flex;
  flex-grow: 1;
  flex-basis: 0px;
  justify-content: center;
}

.overview-img img {
  width: 20rem;
  height: 20rem;
}




/* PROJECT CSS */
img.project-github {
  width: 2rem;
  height: 2rem;
}

.project {
  width: 65%;
  background-color: lightblue;
  margin-left: 17.5%;
  margin-top: 20px;
  border: 1px solid black;
  text-align: center;
}

.about-project {
  width: 75%;
  display: inline-table;
}

ul {
  text-align: center;
  list-style-position: inside;
}

h2.project-title {
  padding: 0px;
}

.project-content {
  padding: 10px;
}

.project-imgs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

img.project-img {
  padding: 10px;
}

img.vertical {
  width: 13rem;
  height: 20rem;
}

img.landscape {
  width: 20rem;
  height: 15rem;
}

ul.project-challenges {
  display: inline-table;
  padding-left: 0;
}

@media all and (max-width: 1000px) {
  .overview-container {
    flex-direction: row;
  }

  .overview-section-1 {
    flex-direction: column;
  }

  .overview-section-2 {
    flex-direction: column;
  }

  .profile-background {
    height: 750px;
  }

  .profile-container {
    flex-direction: column;
  }

  .intro {
    width: 75%;
    margin-left: 13%;
  }
}

.ext-links {
  display: flex;
  width: 60%;
  margin-left: 20%;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: 20px;
}

a.link-a {
  justify-content: center;
  padding: 12px;
}

img.link-img {
  width: 12rem;
  height: 12rem;
}

/* Mobile size */
@media all and (max-width: 782px) {
  .intro {
    width: 80%;
    margin-left: 10%;
    height: 60%;
  }

  .profile img {
    width: 16rem;
    height: 16rem;
  }

  .profile-background {
    height: 775px;
  }

  .overview-container {
    margin-top: 140px;
    margin-left: 8%;
  }

  img.vertical {
    width: 12rem;
    height: 19rem;
  }

  .project {
    width: 80%;
    margin-left: 10%;
  }

  .ext-links {
    display: flex;
    width: 90%;
    margin-left: 5%;
  }

  img.link-img {
    width: 6rem;
    height: 6rem;
  }
}